name: GitHub CI

on:
-   push
-   pull_request

jobs:
    windowsBuild:
        name: Windows Build
        runs-on: windows-2022

        strategy:
            fail-fast: false
            matrix:
                CONFIGURATION:
                -   Debug
                -   Release

                TARGET_CPU:
                -   x86
                -   amd64

        steps:
        -   name: Checkout repo
            uses: actions/checkout@v4
            with:
                submodules: true

        -   name: Install
            shell: cmd
            run: |
                set CONFIGURATION=${{matrix.CONFIGURATION}}
                call graco\ci\github-actions\set-env.bat ${{matrix.TARGET_CPU}}
                call graco\ci\github-actions\install-windows.bat

        -   name: Build and test
            shell: cmd
            run: |
                set CONFIGURATION=${{matrix.CONFIGURATION}}
                set THIS_DIR=%CD%
                set THIS_DIR_CMAKE=%THIS_DIR:\=/%

                call graco\ci\github-actions\set-env.bat ${{matrix.TARGET_CPU}}
                call axl\ci\github-actions\build-lua.bat

                mkdir build
                cd build
                cmake .. %CMAKE_CONFIGURE_FLAGS% || exit
                cmake --build . %CMAKE_BUILD_FLAGS% || exit
                ctest --output-on-failure -C %CONFIGURATION% || exit

    linuxBuild:
        name: Linux Build
        runs-on: ubuntu-24.04

        strategy:
            fail-fast: false
            matrix:
                CONFIGURATION:
                -   Debug
                -   Release

                TARGET_CPU:
                -   x86
                -   amd64

                COMPILER:
                -   clang
                -   gcc

        steps:
        -   name: Checkout repo
            uses: actions/checkout@v4
            with:
                submodules: true

        -   name: Install
            shell: bash
            run: |
                export TARGET_CPU=${{matrix.TARGET_CPU}}
                source ./graco/ci/github-actions/install-linux.sh

        -   name: Build and test
            shell: bash
            run: |
                THIS_DIR=$(pwd)
                export CC=$(which ${{matrix.COMPILER}})
                export CXX=$(which ${{matrix.COMPILER}}++)

                mkdir build
                cd build
                cmake .. -DTARGET_CPU=${{matrix.TARGET_CPU}} -DCMAKE_BUILD_TYPE=${{matrix.CONFIGURATION}}
                make
                ctest --output-on-failure

    macOsBuild:
        name: macOS Build
        runs-on: ${{ matrix.OS }}

        strategy:
            fail-fast: false
            matrix:
                OS:
                -   macos-15
                -   macos-15-intel

                CONFIGURATION:
                -   Debug
                -   Release

        steps:
        -   name: Checkout repo
            uses: actions/checkout@v4
            with:
                submodules: true

        -   name: Install
            shell: bash
            run: |
                source ./graco/ci/github-actions/install-osx.sh

        -   name: Build and test
            shell: bash
            run: |
                THIS_DIR=$(pwd)

                mkdir build
                cd build
                cmake .. -DCMAKE_BUILD_TYPE=${{matrix.CONFIGURATION}}
                make
                ctest --output-on-failure
